<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/main.css">
        <title>wk4</title>
    </head>
    <body>
        <header>
            <div>
                失敗頁面
            </div>
        </header>
        <section>
            <div>
                {{error}}
            </div>
            <div><a href="/">返回首頁</a></div>
        </section>
    </body>
</html>